@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;1,500&family=Press+Start+2P&display=swap');
*
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html
{   
    height: 100vh;
    font-family: 'Poppins', sans-serif;
   
}

header
{
    height: 25vh;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    background: linear-gradient(rgba(17, 17, 17, 0.5), rgba(20, 20, 20, 0.5)),url(..image/pexels-jessica-lewis-creative-593322.jpg);
    background-position: center center; 
    background-size: cover;
    background-position-y: 0px;
    background-repeat: no-repeat;
    color: white;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.39);
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.212);
}

.contentNav
{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 1.2rem;
}
.contentLogo
{
    margin-top: 20px;
    margin-left: -25px;
    font-size: .9rem;
    letter-spacing: 0.4rem;
}

.contentNav .contentList
{
    display: flex;
    list-style: none;
    gap: 50px;
}
.contentList  a
{
    color: white;
    text-transform: uppercase;
    text-decoration: none;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.432);
}
/*Main*/

main
{
    margin-top: 80px ;
    font-family: 'Poppins', sans-serif;
    font-size: 1.1rem;
    font-weight: 300;
}

main h1
{
    font-family: 'Press Start 2P', cursive;
    color: rgb(98, 197, 40);
    font-size: 1.3em;
}
article
{
    margin-left: 40px;
    margin-right: 40px;
}
article.normal
{
    padding: 12px;
    line-height: 2.4em;
    text-indent: 50px;
}
article.normal h1
{
    text-align: center;
    margin-bottom: 50px;
}
article.normal h2
{
    font-family: 'Press Start 2P', cursive;
    font-size: 0.9em;
    color: rgb(98, 197, 40);
}


article.imag
{   
    margin: auto;
    padding: 80px;
    box-shadow: inset 6px 6px 12px 0px rgba(0, 0, 0, 0.692);
    background-size: cover;
    color: rgb(255, 255, 255);
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.555);
    background-attachment: fixed;
    line-height: 2.4em;
    text-indent: 50px;
    font-size: 1.2rem;
}
article.imag h2
{
    font-family: 'Press Start 2P', cursive;
    font-size: 0.9em;
    color: rgb(98, 197, 40);
}

.imag#img1
{
    background-image: url(..image/fundoimagephone.jpg);
    background-size: cover;
}
.imag#img2
{
    background-image: url(..image/pexels-pixabay-356056.jpg);
    background-size: cover;
    box-shadow: inset 6px 6px 12px 0px rgba(0, 0, 0, 0.692);
    background-size: cover;
    background-attachment: fixed;
    height: 450px;
}
aside
{
    background-image: linear-gradient( to left, #8cad52 ,#91e49c);
    padding: 10px;
}
 .contentList
{
   
    margin: 50px 30px 40px 30px;
    font-family: 'Poppins', sans-serif;
    font-size: 1.2rem;
    font-weight: 300;
    text-indent: 20px;
    color: white;
}
.contentList ul
{
    list-style: none;
    columns: 2;
    margin-bottom: 20px;

}
.contentFinal
{
    margin: 40px 20px 40px 20px ;
    font-family: 'Poppins', sans-serif;
    font-size: 1.1rem;
    font-weight: 300;
    text-indent: 20px;
}
.contentFinal a
{
    text-decoration: none;
    color: #8cad52;
    font-weight: bold;
}

footer
{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 120px;
    text-align: center;
    background-image: url(..image/pexels-abet-llacer-919734.jpg);
    background-size: cover;
    background-attachment: fixed;
    color: white;
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.281);
    text-transform: uppercase;
    letter-spacing: 1.2rem;
    font-size: 0.8em;
    font-family: 'Poppins', sans-serif;
    font-weight: lighter;
}

