@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;1,500&family=Press+Start+2P&display=swap');
*
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html
{   
    height: 100vh;
    font-family: 'Poppins', sans-serif;
   
}

header
{
    height: 25vh;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    background: linear-gradient(rgba(17, 17, 17, 0.5), rgba(20, 20, 20, 0.5)),url(/image/pexels-jessica-lewis-creative-593322.jpg);
    background-position: center center; 
    background-size: cover;
    background-position-y: 0px;
    background-repeat: no-repeat;
    color: white;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.39);
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.212);
}


.contentNav
{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 1.2rem;
}
.contentLogo
{
    margin-top: 20px;
    margin-left: -25px;
    font-size: .9rem;
    letter-spacing: 0.4rem;
}

.contentNav .contentList
{
    display: flex;
    list-style: none;
    gap: 50px;
}
.contentList  a
{
    color: white;
    text-transform: uppercase;
    text-decoration: none;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.432);
}
/*Main*/

main
{
    margin-top: 80px ;
    font-family: 'Poppins', sans-serif;
    font-size: 1.1rem;
    font-weight: 300;
}

main h1
{
    font-family: 'Press Start 2P', cursive;
    color: rgb(98, 197, 40);
    font-size: 1.rem;
}
article
{
    margin-left: 40px;
    margin-right: 40px;
}

article.imag
{   
    margin: auto;
    padding: 80px;
    box-shadow: inset 6px 6px 12px 0px black;
    background-size: cover;
    color: rgb(255, 255, 255);
    background-attachment: fixed;
}

.imag#img1
{
    background-image: url(/image/fundoimagephone.jpg);
    background-size: cover;
}